html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input:focus, 
textarea:focus {
    outline: transparent;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("/fonts/Montserrat-Bold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("/fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("/fonts/Montserrat-Medium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url("/fonts/Manrope-Bold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-Semibold';
    src: url("/fonts/Manrope-Semibold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url("/fonts/Manrope-Medium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

.page__body {
    margin: 0;
    min-width: 360px;
    font-family: var(--font-family);
    background-color: var(--bg);
}

:root {
    --font-family: "Montserrat-SemiBold";
    --second-family: "Montserrat-Bold";
    --third-family: "Montserrat-Medium";
    --fourth-family: "Manrope-Bold";
    --fifth-family: "Manrope-Semibold";
    --six-family: "Manrope-Medium";

    --container-width: 1440px; 
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset{
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    max-width: var(--container-width);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
}

.header-wrapper .header-left{
    display: flex;
    align-items: center;
}

.header .logo img{
    width: 83px;
    height: 52px;
    max-width: fit-content;
}

.header .catalog-btn{
    display: flex;
    gap: 6px;
    align-items: center;
    border: 1px solid #eaeff2;
    border-radius: 6px;
    padding: 14px;
    width: 105px;
    height: 36px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    color: #303030;
    margin-left: 29.9px;
}

.header .search-form{
    display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid #eaeff2;
    border-radius: 6px;
    padding: 14px;
    width: 94px;
    height: 36px;
    margin-left: 8.5px;
}

.search-form input{
    border: none;
    width: 100%;
    line-height: 100%;
    font-family: var(--font-family);
    font-size: 13px;
    color: #303030;
}

.search-form input::placeholder{
    font-family: var(--font-family);
    font-size: 13px;
    color: #303030;
}

.header .header__nav{
    margin-left: 32.5px;
}

.header__nav .nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__nav .nav .nav-item a{
    font-family: var(--font-family);
    font-size: 13px;
    color: #303030;
}

.header-wrapper .header-right{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .social-networks{
    display: flex;
    gap: 8px;
    margin-top: 6px;
}

.header .basket{
    border: 1px solid #eaeff2;
    border-radius: 6px;
    width: 113px;
    height: 36px;
}

.header .basket a{
    display: flex;
    gap: 6px;
    padding: 10px 16px;
}

.basket a span{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 13px;
    color: #303030;
}

.swiper-banners .swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
}

.swiper-banners .swiper-pagination-bullet{
    background: #303030;
    opacity: 0.16;
}

.swiper-banners.light .swiper-pagination-bullet{
    background: #ffffff;
    opacity: 0.16;
}

.swiper-banners .swiper-pagination-bullet-active{
    opacity:unset;
    background: #303030;
}

.swiper-banners.light .swiper-pagination-bullet-active{
    opacity:unset;
    background: #ffffff;
}

.swiper-banners .product-attributes{
    position: absolute;
    top: 56px;
    left: 48px;
    display: flex;
    gap: 8px;
}

.product-attributes .attribute{
    border-radius: 53px;
    padding: 10px 14px;
    background: linear-gradient(105deg, rgb(0 119 178 / 11%) 0%, rgb(0 119 178 / 0%) 100%);
    font-family: var(--font-family);    
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #303030; 
}

.swiper-banners.light .product-attributes .attribute{
    background: linear-gradient(115deg, rgb(255 255 255 / 38%) 0%, rgb(255 255 255 / 0%) 100%);
    font-family: var(--fifth-family);    
    color: #ffffff; 
}

.swiper-banners .banner-title__wrapper{
    position: absolute;
    top: 130px;
    left: 48px;
}

.banner-title__wrapper .banner-title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
    max-width: 711px;
}

.swiper-banners.light .banner-title__wrapper .banner-title{
    color: #ffffff;
}

.banner-title__wrapper .banner-subtitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: rgba(48, 48, 48, 0.64);
    margin-top: 42px;
    max-width: 442px;
}

.swiper-banners.light .banner-title__wrapper .banner-subtitle{
    color: rgba(255, 255, 255, 0.64);
    font-family: var(--fifth-family);
}

.swiper-banners .feedback-btn{
    position: absolute;
    bottom: 57px;
    left: 42px;
    border-radius: 10px;
    padding: 20px;
    background: #a2ca00;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.swiper-banners.light .feedback-btn{
    background: #ffffff;
    color: #303030;
}

.swiper-banners .swiper-pagination-bullets{
    bottom: var(--swiper-pagination-bottom, 56px);
}

.main-catalog{
    margin:128px 48px;
}

.main-catalog .main-catalog__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
}

.main-catalog .product-items{
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
   margin-top: 24px;
}

.product-items .product-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background: #f3f9fd;
    max-width: 330px;
    width: 100%;
    min-height: 280px;
    padding: 18px 18px 20px;
}

.product-item .product-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #303030;
    max-width: 262px;
    z-index: 1;
 }

.product-item .see-more{
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
    z-index: 1;
}

.product-item .bg-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.why-choose{
    margin:128px 48px;
}

.why-choose .why-choose__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
 }

 .why-choose .advantages-items{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 24px;
}

 .why-choose .advantages-item{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    max-width: 443px;
    width: 100%;
    height: 256px;
}

.advantages-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 49, 70, 0.32);
    border-radius: 12px;
    z-index: 1;
}

.advantages-item .bg-advantages{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantages-item .advantage-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #ffffff;
    z-index: 2;
} 

.advantages-item .advantages-item__title{
   position: absolute;
   top: 24px;
   left: 24px;
   max-width: 350px;
   font-size: 48px;
   line-height: 100%;
   letter-spacing: -0.04em;
   color: #ffffff;
}

.advantages-item .advantages-item__subtitle{
    position: absolute;
    bottom: 25px;
    left: 24px;
    right: 24px;
    max-width: 350px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.advantages-item .play-btn{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.advantages-item .video{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special-offer{
    margin:128px 48px;
}

.special-offer__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
}

.special-offer__wrapper{
    position: relative;
    background-image: url(/img/bg-offer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 385px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 32px 30.5px;
}

.special-offer__wrapper .offer-top{
    position: relative;
    width: fit-content;
    border-radius: 53px;
    padding: 10px 14px;
    background: linear-gradient(105deg, rgb(0 119 178 / 11%) 0%, rgb(0 119 178 / 0%) 100%);
    font-family: var(--font-family);
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #303030;
    z-index: 2;
}

.special-offer__wrapper .offer-title{
    position: relative;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #303030;
    padding: 25px 1.5px 24px;
    max-width: 405px;
    z-index: 2;
}

.special-offer__wrapper .offer-subtitle{
    position: relative;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
    max-width: 413px;
    z-index: 2;
}

.special-offer__wrapper img{
    position: absolute;
    bottom: 0;
    right: 98px;
    z-index: 1;
}

.special-offer__wrapper .feedback-btn{
    position: relative;
    border-radius: 10px;
    padding: 14px 16px;
    background: #a2ca00;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 78px;
    z-index: 2;
}

.main-news{
    margin: 128px 48px;
}

.main-news .news-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
}

.news-tabs .tab-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 24px;
}

.tab-nav .tab-btn{
    border: 1px solid #eaeff2;
    border-radius: 6px;
    padding: 12px 14px;
    font-family: var(--font-family);
    font-weight: 600;   
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #303030;
}

.tab-nav .tab-btn.tab-btn-active{
    background: #a2ca00;
    border:unset;
    color: #ffffff;
}

.news-tabs .tab-content{
    margin-top: 33px;
}

.news-tabs .tab-pane:not(.tab-pane-show) {
    display: none;
}

.swiper-news .swiper-slide .news-img{
    overflow: hidden;
    height: 148px;
    border-radius: 12px;
}

.swiper-slide .news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.swiper-slide .news-date{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 8px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(48, 48, 48, 0.64);
    margin-top: 16px;
}

.swiper-slide .news-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #303030;
    margin-top: 7.5px;
}

.swiper-slide .news-subtitle{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: rgba(48, 48, 48, 0.64);
    margin-top: 8px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.swiper-news .swiper-wrapper {
    height: 260px;
}

.swiper-news .swiper-scrollbar{
    height: var(--swiper-scrollbar-size, 7px);
    width: 100%;
    left: 0;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background: #a2ca00;
}

.link-more a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #a2ca00;
    margin-top: 22.5px;
}

.footer{
    margin-top: 128px;
    min-height: 390px;
    background: #f3f9fd;
}

.footer-top{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 48px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top .footer-logo{
    width: 217px;
    height: 110px; 
}

.footer-top .footer-left{
    display: flex;
    gap: 121px;
    flex-wrap: wrap;
}

.footer-left .footer-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 133px;
}

.footer-nav .menu-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 13px;
}

.menu-footer:first-of-type li:first-child a {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: rgba(48, 48, 48, 0.56);
}

.menu-footer li a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #303030;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-right .phones{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-right .phones a{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    color: rgba(48, 48, 48, 0.56);
}

.footer-right .social-links{
    display: flex;
    gap: 8px;
}

.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border-top: 1px solid #e1e9ee;;
    margin: 158px 48px 0;
    padding: 18px 0 33px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: rgba(48, 48, 48, 0.56);
}

.footer-bottom__right{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.map {
    position: relative;
    width: 100%;
    height: 750px;
    padding: 0;
    margin: 0;
}

[class*="copyrights-pane"] {
    display: none !important;
}

.map .overlay-block{
    position: absolute;
    bottom: 48px;
    left: 48px;
    z-index: 10;
}

.overlay-block .overlay-block__items{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.overlay-block__items .overlay-block__item{
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 12px;
    background: #ffffff;
    padding: 10px 16px 10px 12px;
}

.overlay-block__item span{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #303030;
}

.balloon{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #303030;
    word-wrap: break-word;
    white-space: normal;
}

.balloon .ballon-icon{
    margin-bottom: 10px;
}
  
.balloon .ballon-icon img {
    width: 24px;
    height: 24px;
}

.ymaps-2-1-79-balloon{
    box-shadow: none !important;
}

.ymaps-2-1-79-balloon__layout{
    border-radius: 12px;
    border: none;
}

.ymaps-2-1-79-balloon__close-button{
    display: none !important;
}

.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content{
    margin-right: 12px !important;
}

.ymaps-2-1-79-balloon__content > ymaps {
    max-width: 202px;
    height: auto !important;
}
  
.contacts-wrapper{
    margin: 128px 48px;
}

.contacts-wrapper .contacts-title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #303030;
}

.contacts-wrapper .contacts-subtitle{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #a2ca00;
}

.branches{
    margin-top: 64px;
}

.branches .branches-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
    margin-bottom: 24px;
}

.branches-items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.branches-item{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid #eaeff2;
    min-height: 64px;
    border-radius: 12px; 
    padding: 14px 14px 14px 20px;   
}

.branches-item__left{
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.branches-item__left .branche-address{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #303030;
}

.branches-item__right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.brances-wrapper{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.branches-item__right .branche-emails{
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
}

.branches-item__right .branche-emails a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: right;
    color: rgba(48, 48, 48, 0.64);
    white-space: nowrap;
}

.branches-item__right .branche-phones{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
 }

.branches-item__right .branche-phones a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: rgba(48, 48, 48, 0.64);
    white-space: nowrap;
}

.branches-item__right .feedback-btn{
    border-radius: 6px;
    background: #303030;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-left: 8px;
    width: 219px;
    height: 36px;
}

.representations{
    margin-top: 48px;
}

.representations .representations-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #303030;
    margin-bottom: 24px;
}

.representations-items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.representations-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid #eaeff2;
    min-height: 64px;
    border-radius: 12px; 
    padding: 14px 14px 14px 20px;   
}

.representations-item__left{
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.representations-item__left .representation-address{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #303030;
}

.representations-item__right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.representations-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.representations-item__right .representation-emails{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.representations-item__right .representation-emails a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: right;
    color: rgba(48, 48, 48, 0.64);
}

.representations-item__right .representation-phones{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.representations-item__right .representation-phones a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: rgba(48, 48, 48, 0.64);
}

.representations-item__right .feedback-btn{
    border-radius: 6px;
    background: #303030;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-left: 8px;
    width: 219px;
    height: 36px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 40 91 / 30%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
  
.modal-feedback {
    position: relative;
    border-radius: 16px;
    padding: 24px;
    min-width: 362px;
    background: #ffffff;
    margin: 8px;
}

.feedback-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 18px 0 0;
}

.feedback-form .input-wrapper{
    border: 1px solid #eaeff2;
    border-radius: 6px;
    padding: 12px 14px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
}

.feedback-form .input-wrapper::placeholder{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
}

.feedback-form .textarea-wrapper{
    border: 1px solid #eaeff2;
    border-radius: 6px;
    padding: 12px 14px;
    resize: none;
    min-height: 124px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
}

.feedback-form .textarea-wrapper::placeholder{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(48, 48, 48, 0.64);
}

.feedback-form .textarea-wrapper::-webkit-scrollbar {
    background-color: #ebeff587;
    width: 7px;
    height: 7px;
}

.feedback-form .textarea-wrapper::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 8px;
}

.feedback-form__text{
    margin-top: 8px;
}

.feedback-form__text p{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(48, 48, 48, 0.64);
    max-width: 281px;
}
 
.feedback-form .submit-btn {
    border-radius: 6px;
    border: none;
    padding: 12px 14px;
    background: #303030;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #ffffff;
    cursor: pointer;
}

.modal-feedback__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #303030;
    max-width: 286px;
}
  
.closeModal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: opacity ease 0.5s;
  }
  
.closeModal:hover {
    opacity: 0.5;
  }
  
.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 16px;
    height: 2px;
    background: #cecece;
}
  
.closeModal::before {
    transform: rotate(45deg);
}
  
.closeModal::after {
    transform: rotate(-45deg);
}

.header-wrapper .menu-btn{
    width: 49px;
    height: 49px;
    position: relative;
    display: none;
    background: #a2ca00;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

.menu-btn__burger {
    width: 19px;
    height: 3px;
    background: #ffffff;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 3px;
    background: #ffffff;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-5px);
}

.menu-btn__burger::after {
    transform: translateY(5px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header .mobile-menu{
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.mobile-menu.show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 1;
    gap: 20px;
}

.mobile-menu .catalog-btn{
    display: none;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#00000070;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 998;
}
  
.overlay.show {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1440px){
    .product-items .product-item{
        max-width: 32%;
    }
    .why-choose .advantages-item{
        max-width: 32%;
    }
}

@media screen and (max-width: 1330px){
    .header {
        position: fixed;
        background: #ffffff;
        padding: 0;
        width: 100%;
        z-index: 999;
    }
    .main{
        padding-top: 100px;
    }
    .header-left .header__nav{
        display: none;
    }
    .header-right .social-networks,
    .header-right .basket{
        display: none;
    }
    .header-right .menu-btn{
        display: flex;
    }
    .header-wrapper{
        gap: 20px;
    }
    .header-wrapper .header-left{
        flex: 1;
        gap: 15px;
    }
    .header .search-form{
        margin-left: 0;
        width: 100%;
    }
    .header .catalog-btn{
        margin-left: 0;
    }
    .mobile-menu{
        padding: 0 48px 24px;
    }
    .header .header__nav{
        margin-left: 0;
    }
    .btns-wrapper{
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .banner-title__wrapper .banner-title{
        font-size: calc(18px + 42*((100vw - 480px) / 1330));
        max-width: 530px;
    }
    .banner-title__wrapper .banner-subtitle{
        font-size: calc(14px + 12*((100vw - 480px) / 1330));
    }
    .special-offer__wrapper .offer-title{
        font-size: calc(18px + 42*((100vw - 480px) / 1330));
        max-width: 530px;
    }
    .special-offer__wrapper .offer-subtitle{
        font-size: calc(14px + 12*((100vw - 480px) / 1330));
    }
    .contacts-wrapper .contacts-title,
    .contacts-wrapper .contacts-subtitle{
        font-size: calc(18px + 42*((100vw - 480px) / 1330));
    }
    .product-attributes .attribute{
        font-size: 15px;
    }
    .special-offer__wrapper img{
        right: 30px;
        width: 500px;
    }
    .footer-top .footer-logo {
        width: 157px;
        height: auto;
    }
    .branches-item__right .branche-emails{
        flex-direction: column;
    }
    .branches-item__right .branche-phones{
        flex-direction: column;
    }
    .representations-item__right .representation-emails{
        flex-direction: column;
    }
    .representations-item__right .representation-phones{
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .swiper-banners .product-attributes{
        top: 36px;
        left: 24px;
    }
    .swiper-banners .banner-title__wrapper{
        top: 100px;
        left: 24px;
    }
    .swiper-banners .feedback-btn{
        bottom: 37px;
        left: 26px;
    }
    .banner-title__wrapper .banner-title{
        font-size: calc(18px + 38*((100vw - 480px) / 1024));
        max-width: 430px;
    }
    .banner-title__wrapper .banner-subtitle{
        font-size: calc(12px + 10*((100vw - 480px) / 1024));
        max-width: 350px;
    }
    .special-offer__wrapper .offer-title{
        font-size: calc(18px + 38*((100vw - 480px) / 1024));
        max-width: 430px;
    }
    .special-offer__wrapper .offer-subtitle{
        font-size: calc(12px + 10*((100vw - 480px) / 1024));
        max-width: 350px;
    }
    .contacts-wrapper .contacts-title,
    .contacts-wrapper .contacts-subtitle{
        font-size: calc(18px + 38*((100vw - 480px) / 1024));
    }
    .main-catalog{
        margin: 98px 36px;
    }
    .main-catalog .main-catalog__title{
        font-size: 24px;
    }
    .why-choose {
        margin: 98px 36px;
    }
    .why-choose .why-choose__title{
        font-size: 24px;
    }
    .special-offer {
        margin: 98px 36px;
    }
    .special-offer__title{
        font-size: 24px;
    }
    .main-news { 
        margin: 98px 36px;
    }
    .swiper-banners .feedback-btn{
        padding: 15px;
        font-size: 14px;
    }
    .swiper-banners .swiper-pagination-bullets{
        bottom: var(--swiper-pagination-bottom, 36px);
    }
    .product-items .product-item{
        max-width: 49%;
    }
    .why-choose .advantages-item{
        max-width: 49%;
    }
    .advantages-item .advantage-text{
        font-size: 24px;
    }
    .special-offer__wrapper .offer-top{
        font-size: 15px;
    }
    .footer {
        margin-top: 68px;
    }
    .footer-top .footer-left{
        gap: 40px;
    }
    .footer-left .footer-nav{
        width: 100%;
    }
    .footer-right{
        position: absolute;
        right: 48px;
    }
    .footer-bottom{
        margin: 118px 48px 0;
    }
    .special-offer__wrapper{
        padding: 18px;
    }
    .advantages-item .advantages-item__title{
        top: 18px;
        left: 18px; 
    }
    .advantages-item .advantages-item__subtitle{
        bottom: 18px;
        left: 18px; 
    }
    .special-offer__wrapper .feedback-btn{
        margin-top: 78px;
    }
    .special-offer__wrapper .feedback-btn{
        padding: 15px;
        font-size: 14px;
    }
    .map {
        height: 550px;
    }
    .map .overlay-block{
        bottom: 24px;
        left: 24px;
    }
    .contacts-wrapper {
        margin: 98px 36px;
    }
    .branches-item{
        flex-direction: column;
    }
    .branches-item__right .branche-emails {
        flex-direction: row;
    }
    .branches-item__right .branche-phones {
        flex-direction: row;
    }
    .branches-item__right{
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
    .representations-item{
        flex-direction: column;
    }
    .representations-item__right .representation-emails {
        flex-direction: row;
    }
    .representations-item__right .representation-phones {
        flex-direction: row;
    }
    .representations-item__right{
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .header-wrapper{
        padding: 12px 24px;
    }
    .header-left .catalog-btn{
        display: none;
    }
    .header-wrapper .menu-btn{
        width: 39px;
        height: 39px;
    }
    .mobile-menu.show{
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 24px;
    }
    .mobile-menu .catalog-btn{
        display: flex;
    }
    .header__nav .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .header .logo img{
        width: 73px;
        height: 42px;
    }
    .main {
        padding-top: 73px;
    }
    .main-catalog .main-catalog__title {
        font-size: 22px;
    }
    .product-attributes .attribute {
        font-size: 12px;
        padding: 10px 14px;
    }
    .swiper-banners .swiper-slide{
        height: 400px;
    }
    .swiper-banners .swiper-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner-title__wrapper .banner-title{
        font-size: 24px;
        max-width: 300px;
    }
    .banner-title__wrapper .banner-subtitle{
        font-size: 16px;
        max-width: 295px;
    }
    .special-offer__wrapper{
        min-height: 335px;
    }
    .special-offer__wrapper .offer-title{
        font-size: 24px;
        max-width: 300px;
    }
    .special-offer__wrapper .offer-subtitle{
        font-size: 16px;
        max-width: 295px;
    }
    .contacts-wrapper .contacts-title,
    .contacts-wrapper .contacts-subtitle{
        font-size: 24px;
    }
    .special-offer__wrapper img {
        width: 300px;
    }
    .special-offer__wrapper .feedback-btn{
        margin-top: 55px;
    }
    .why-choose .why-choose__title {
        font-size: 22px;
    }
    .special-offer__title {
        font-size: 22px;
    }
    .advantages-item .advantage-text{
        font-size: 22px;
    }
    .advantages-item .advantages-item__title{
        font-size: 35px;
    }
    .main-catalog {
        margin: 36px 16px;
    }
    .why-choose {
        margin: 36px 16px;
    }
    .special-offer {
        margin: 36px 16px;
    }
    .main-news {
        margin: 36px 16px;
    }
    .footer {
        margin-top: 36px;
    }
    .footer-top .footer-left {
        gap: 20px;
    }
    .footer-top{
        padding: 24px; 
    }
    .footer-bottom{
        margin: 68px 24px 0;
    }
    .footer-bottom__right{
        gap: 20px;  
    }
    .footer-top .footer-logo{
        width: 70px;
    }
    .footer-right {
        right: 24px;
    }
    .map {
        height: 450px;
    }
    .map .overlay-block{
        bottom: 12px;
        left: 12px;
    }
    .contacts-wrapper {
        margin: 36px 16px;
    }
    .branches{
        margin-top: 26px;
    }
    .representations {
        margin-top: 24px;
    }
    .branches-item,
    .representations-item{
        padding: 14px;
    }
    .representations .representations-title,
    .branches .branches-title{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px){
    .swiper-banners .product-attributes {
        top: 26px;
        left: 12px;
        gap: 4px;
    }
    .swiper-banners .banner-title__wrapper {
        left: 12px;
    }
    .swiper-banners .swiper-pagination-bullets {
        bottom: var(--swiper-pagination-bottom, 16px);
    }
    .swiper-banners .feedback-btn {
        left: 12px;
    }
    .banner-title__wrapper .banner-title{
        font-size: 22px;
        max-width: 300px;
    }
    .banner-title__wrapper .banner-subtitle{
        font-size: 15px;
        max-width: 295px;
    }
    .special-offer__wrapper .offer-title{
        font-size: 22px;
        max-width: 300px;
    }
    .special-offer__wrapper .offer-subtitle{
        font-size: 15px;
        max-width: 295px;
    }
    .special-offer__wrapper .offer-top{
        font-size: 10px;
    }
    .special-offer__wrapper {
        min-height: 300px;
    }
    .contacts-wrapper .contacts-title,
    .contacts-wrapper .contacts-subtitle{
        font-size: 22px;
    }
    .product-items .product-item {
        max-width: 100%;
    }
    .main-catalog {
        margin: 16px 8px;
    }
    .main-catalog .product-items{
        margin-top: 12px;
    }
    .why-choose {
        margin: 16px 8px;
    }
    .why-choose .advantages-items{
        margin-top: 12px;
    }
    .why-choose .advantages-item {
        max-width: 100%;
    }
    .special-offer {
        margin: 16px 8px;
    }
    .special-offer__wrapper {
        margin-top: 12px;
    }
    .special-offer__wrapper img {
        width: 200px;
    }
    .main-news {
        margin: 16px 8px;
    }
    .news-tabs .tab-nav{
        margin-top: 12px;
    }
    .news-tabs .tab-content {
        margin-top: 12px;
    }
    .footer-left .footer-nav{
        gap: 73px;
    }
    .footer-bottom {
        margin: 36px 24px 0;
    }
}